.main{
    height: 200px;
    width: 300px;
    border-radius: 10px;
    margin-left: 400px;
    margin-top: 200px;
    background-color: bisque;
}

.text-label {
    font-size: 20px;                                               
    font-family: cursive;
}

.text-input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

h1{
    text-align: center;
}

.btn button{
    padding: 10px;
    background-color: aquamarine;
    border-radius: 10px;
}

/* Also can be given as .div class name{
    label{
        property : value;
    }
}
when the label doesn't have a class name */
